<h3 class="text-primary">Bienvenido a Ibiaza</h3>

<div class="container">
    <div class="card-columns">
        <div class="card" *ngFor="let producto of productos; let i = index">
            <div class="card-body">
                <h5 class="card-title">{{ producto.nombre }}</h5>
                <p class="card-text">{{ producto.descripcion }}</p>
                <p class="card-text">{{ producto.precio | currency }}</p>
                <p class="card-text">{{ producto.estaBorrado }}</p>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-outline-primary">
                    Modificar
                </button>

                <button (click)="deleteProducto( producto, i )" type="button" class="btn btn-outline-danger">
                    Eliminar
                </button>
            </div>
        </div>
    </div>

    <form (ngSubmit)="guardar( f )" #f="ngForm" class="mt-5">
        <div class="form-group">
            <label>Nuevo Producto</label>
            <input [ngClass]="{ 'is-invalid': (nombre.errors?.required || nombre.errors?.minlength) && nombre.touched, 'is-valid': !(nombre.errors?.required && nombre.errors?.minlength) && nombre.touched }" #nombre="ngModel" ngModel name="nombre" required minlength="3"
                type="text" class="form-control">

            <div *ngIf="nombre.errors?.required && nombre.touched" class="invalid-feedback">
                El nombre del producto es obligatorio.
            </div>

            <div *ngIf="nombre.errors?.minlength && nombre.touched" class="invalid-feedback">
                El nombre del producto debe contener 3 caracteres.
            </div>
        </div>

        <div class="form-group">
            <label>Descripcion</label>
            <input [ngClass]="{ 'is-invalid': descripcion.errors?.required && descripcion.touched, 'is-valid': !descripcion.errors?.required && descripcion.touched }" #descripcion="ngModel" ngModel name="descripcion" required type="text" class="form-control">

            <div *ngIf="descripcion.errors?.required && descripcion.touched" class="invalid-feedback">
                La descripcion es requerida.
            </div>
        </div>

        <div class="form-group">
            <label>Cantidad</label>
            <input [ngClass]="{ 'is-invalid': cantidad.errors?.required && cantidad.touched, 'is-valid': !cantidad.errors?.required && cantidad.touched }" #cantidad="ngModel" ngModel name="cantidad" required type="number" class="form-control">

            <div *ngIf="cantidad.errors?.required && cantidad.touched" class="invalid-feedback">
                La cantidad es requerida.
            </div>
        </div>

        <div class="form-group">
            <label>Precio</label>
            <input [ngClass]="{ 'is-invalid': precio.errors?.required && precio.touched, 'is-valid': !precio.errors?.required && precio.touched }" #precio="ngModel" ngModel name="precio" required type="number" class="form-control">

            <div *ngIf="precio.errors?.required && precio.touched" class="invalid-feedback">
                El precio es requerido.
            </div>
        </div>

        <!-- <div class="form-group">
            <label>Esta Borrado?</label>
            <br>
            <button *ngIf="!producto.estaBorrado" class="btn btn-success" (click)="producto.estaBorrado = false" type="button">
                No
            </button>

            <button *ngIf="producto.estaBorrado" class="btn btn-danger" (click)="producto.estaBorrado = true" type="button">
                Si
            </button>
        </div> -->

        <div class="form-group text-center">
            <button type="submit" class="btn btn-outline-primary w-50" [disabled]="!f.valid">
                Guardar
            </button>
        </div>
    </form>

</div>